/* ---------- Logo ---------- */
.custom-logo img {
	padding-right: 63px;
	border-right: 1px solid #333;
}
/* ---------- Header ---------- */
/* backgrou8nd-color #f5f3ee */ 

/* ---------- Navigation ---------- */
.aui #navigation .navbar-inner {
    /*background: #006ebf; stockholm.se*/
	background: #c40064;
    border-width: 0;
    min-height: 49px;
}
.aui #navigation .nav li {
    line-height: 40px;
}

.aui #navigation .nav li.active>a {
    /*background-color: #00518c; stockholm.se*/
	background-color: #fedeed;
	color: #c40064;
    background-image:none;
}

.aui #navigation .nav li.hover>a {
    /*background-color: #005fa6; stockholm.se*/
	background-color: #fedeed;
	color: #c40064;
    background-image:none;
}

.aui .dockbar-split .dockbar .navbar-inner .nav>li>a {
    line-height: 32px;
}

.stocket {
	max-width: 1280px;
	margin: 0 auto; 
}

@media (min-width: 1280px){
	.stocket {
		/*margin-left: 100px;
		margin-right: 100px;*/
		margin-top: 10px;		
	}
	#heading {
		max-width: 1280px;
		margin: 0 auto; 
		margin-top: 20px;			
	}
	.aui .navbar .nav {
		margin-left: 80px;
	}
}


.stocket .medium-box {
	padding: 10px;
	cursor: pointer;
}

.stocket .medium-box a{
    text-decoration: none;
}

.stocket .medium-box li{
    line-height: 22px;
}


.stocket .large-box {
	padding: 10px;
}

.stocket .dark-orange-box, .dark-orange-box a, .dark-orange-box a:hover {
	background: #dd4a2c;
	color: #ffffff;
}

.stocket .dark-pink-box, .dark-pink-box a, .dark-pink-box a:hover  {
	background: #c40064;
	color: #ffffff;
}

.stocket .light-orange-box, .light-orange-box a, .light-orange-box a:hover {
	background: #ffd7d2;
	color: #dd4a2c;
}

.stocket .light-pink-box, .light-pink-box a, .light-pink-box a:hover {
	background: #fedeed;
	color: #c40064;
}


@media (min-width: 1280px){
	.stocket .medium-box {
		height: 175px;
	}
	.stocket .large-box {
		height: 401px;
	}
}
@media (min-width: 700px) and (max-width: 1280px){
	.stocket .medium-box {
		min-height: 15.00vw;
	}
	.stocket .large-box {
		min-height: 27.70vw;
	}
}

.nav a, .site-name {
    font-weight: 600;
}

.stocket .button {
	color: #000000;
}

.stocket h1 {
	font-size: 35px;
}

.stocket h2 {
	font-size: 18px;
	line-height: 30px;
}

.stocket h3 {
	font-size: 16px;
}
.aui #footer {
    border-top: 5px solid #c40064;
}

.aui body {
    font-family: "Stockholm Type","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* @media (min-width: 2000px){ */
/* 	.stocket .medium-box { */
/* 		height: 13.23vw; */
/* 		height: 11.9vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.85vw; */
/* 		height: 26.15vw; */
/* 	} */
/* } */
/* @media (min-width: 1900px) and (max-width: 2000px){ */
/* 	.stocket .medium-box { */
/* 		height: 13.1vw; */
/* 		height: 11.75vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.8vw; */
/* 		height: 26.10vw; */
/* 	} */
/* } */
/* @media (min-width: 1800px) and (max-width: 1900px){ */
/* 	.stocket .medium-box { */
/* 		height: 12.95vw; */
/* 		height: 11.60vw; */
/* 	} */
/* 	.stocket .large-box {	 */
/* 		height: 28.65vw; */
/* 		height: 25.95vw; */
/* 	} */
/* } */

/* @media (min-width: 1700px) and (max-width: 1800px){ */
/* 	.stocket .medium-box { */
/* 		height: 12.80vw; */
/* 		height: 11.45vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.50vw; */
/* 		height: 25.80vw; */
/* 	} */
/* } */
/* @media (min-width: 1600px) and (max-width: 1700px){ */
/* 	.stocket .medium-box { */
/* 		height: 12.65vw; */
/* 		height: 11.30vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.35vw; */
/* 		height: 24.95vw; */
/* 	} */
/* } */

/* @media (min-width: 1500px) and (max-width: 1600px){ */
/* 	.stocket .medium-box { */
/* 		height: 12.5vw; */
/* 		height: 11.15vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.2vw; */
/* 		height: 25.40vw;		 */
/* 	} */
/* } */

/* @media (min-width: 1400px) and (max-width: 1500px){ */
/* 	.stocket .medium-box { */
/* 		height: 12.35vw; */
/* 		height: 11vw; */
/* 	} */
/* 	.stocket .large-box { */
/* 		height: 28.05vw; */
/* 		height: 25.25vw; */
/* 	} */
/* } */

/*
.nav-main li.sel a {
	background:#00518c;
	color:#fff;
	text-decoration:none;
}

.nav-main li a.hover {
	background:#044779;
}

#navigation .nav li.active>a {
    background-color: #00518c;
}
*/